.task-card {
  display: flex;
  background-color: white;
  border-radius: 7px;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.task-card.completed {
  color: rgb(135, 134, 132);
  text-decoration: line-through;
}



.btn-card {
  width: 1.9rem;
  height: 1.8rem;
  border-radius: 4px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.btn-blue {
  background-color: rgb(85, 145, 255);
}
.btn-blue:hover {
  background-color: rgb(49, 120, 252);
}

.btn-red {
  background-color: rgb(255, 101, 95);
}

.btn-red:hover {
  background-color: rgb(248, 58, 52);
}

.left-side {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.right-side {
  display: flex;
  gap: 0.5rem;
}

.mark {
  display: block;
  width: 1rem;
  height: 100%;
  cursor: pointer;
}

.task-card textarea{
  padding: 5px;
  border-radius: 4px;
  resize: none;
}