#add-task {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-task input {
  background-color: inherit;
  border-color: transparent;
  border-bottom: 2px solid #3d7aff;
  width: 12rem;
  height: 2.5rem;
  margin-right: 1rem;
}

#add-task button {
  background-color: rgb(85, 145, 255);
  color: white;

  width: 8rem;
  height: 3rem;
  border-radius: 7px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
#add-task button:hover,
#add-task button:focus {
  background-color: rgb(49, 120, 252);
}
