*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  min-height: 100vh;
}

body,
h1,
p {
  margin: 0;
}
body {
  font-family: "Segoe UI";
  background-color: #2F70AF;
}
ul,
ol,
menu {
  list-style: none;
  padding: 0;
}
input,
button {
  font: inherit;
  border: 1px solid transparent;
}
input:focus {
  outline: none;
}

#header-main {
  margin: 2rem;
  text-align: center;
}

#header-main h1 {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

#todo-list-board {
  background-color: #d2e5f5;
  max-width: 27rem;
  margin: 0 auto;
  border-radius: 15px;
  padding: 1.5rem;
}

#add-task {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-task input {
  background-color: inherit;
  border-color: transparent;
  border-bottom: 2px solid #3d7aff;
  width: 12rem;
  height: 2.5rem;
  margin-right: 1rem;
}

#add-task button {
  background-color: rgb(85, 145, 255);
  color: white;

  width: 8rem;
  height: 3rem;
  border-radius: 7px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
#add-task button:hover,
#add-task button:focus {
  background-color: rgb(49, 120, 252);
}

#task-statuses {
  display: flex;
  margin: 2rem 1rem;
  justify-content: space-between;
}

#task-statuses button {
  font-size: 1.1rem;
  color: rgb(135, 134, 132);
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

#task-statuses button:hover,
#task-statuses button:focus {
  color: rgb(33, 172, 225);
  background-color: white;
}

#task-statuses button.active {
  color: rgb(33, 172, 225);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.task-card{
  display: flex;
  background-color: white;
  border-radius: 7px;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.task-card.completed{
  color: rgb(135, 134, 132);;
  text-decoration: line-through;
}

.btn-card {
  width: 1.9rem;
  height: 1.8rem;
  border-radius: 4px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.btn-edit {
  background-color: rgb(85, 145, 255);
}
.btn-edit:hover {
  background-color: rgb(49, 120, 252);
}

.btn-delete{
  background-color: rgb(255, 101, 95);
}

.btn-delete:hover {
  background-color: rgb(248, 58, 52);
}

.left-side {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.right-side {
  display: flex;
  gap: 0.5rem;

}

.mark {
  display: block;
  width: 1rem;
  height: 100%;
  cursor: pointer;
}