*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  min-height: 100vh;
}

body,
h1,
p {
  margin: 0;
}
body {
  font-family: "Segoe UI";
  background-color: #2f70af;
}
ul,
ol,
menu {
  list-style: none;
  padding: 0;
}
input,
button {
  font: inherit;
  border: 1px solid transparent;
}
input:focus {
  outline: none;
}

#header-main {
  margin: 2rem;
  text-align: center;
}

#header-main h1 {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

#todo-list-board {
  background-color: #d2e5f5;
  max-width: 27rem;
  margin: 0 auto;
  border-radius: 15px;
  padding: 1.5rem;
}
